body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  .timer-container {
    text-align: center;
  }
  #timeDisplay {
    font-size: 5em;
    margin-bottom: 10px;    
    color: #4141419f;
  }
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
  }